<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tc2r.greedisland">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.Splash1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tc2r.greedisland.MainActivity"/>

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".splash.Splash2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tc2r.greedisland.MainActivity"/>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".book.DeckActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tc2r.greedisland.MainActivity"/>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tc2r.greedisland.MainActivity"/>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".book.BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tc2r.greedisland.MainActivity"/>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
        <activity android:name=".book.CardDetail">
        </activity>

        <receiver
            android:name="com.tc2r.greedisland.utils.RewardsServiceReceiver"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="">
        </receiver>
        <receiver android:name="com.tc2r.greedisland.utils.OnBootRewardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

            </intent-filter>
        </receiver>

        <activity android:name=".utils.TestActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.tc2r.greedisland.utils.TravelServiceReceiver"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="">
        </receiver>

    </application>
</manifest>